<mat-card class="card">
  <mat-card-header>
    <div *ngIf="avatar" mat-card-avatar></div>
    <mat-card-title *ngIf="title">{{title}}</mat-card-title>
    <mat-card-subtitle *ngIf="subTitle">{{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="image" mat-card-image src={{image}} alt="Photo of a Shiba Inu">
  <mat-card-content *ngIf="caption">
    <p>
      {{caption}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="#" class="mr5 text-pink"  (onclick)="likeEvent()"><fa-icon [icon]="['far', 'heart']"></fa-icon></a>
    <a href="#" class="text-pink" (onclick)="shareEvent()"><fa-icon [icon]="['far', 'share-square']"></fa-icon></a>
    <a href="#" class="text-pink learn-more" (onclick)="shareEvent()">learn more</a>
  </mat-card-actions>
</mat-card>